/* General */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}

header{
    background-color:rgb(17, 162, 162);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

p{
    color:darkslategray
}

/*Transistion*/
a, .btn{
    transition: all 300 ms ease;
}

/*desktop nav*/
nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;

}

a:hover{
    color: white;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color:black;
}

.logo{
    color: black;
    font-size: 3rem;
}

.logo:hover{
    cursor: default;
}


/*Hamburger menu*/


#hamburger-nav{
        display: none;
    
}
.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: red;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: yellow;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: darkslategray;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
   opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/*Sections*/

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
   
}

.section-container {
    display: flex;
}

/*Profile*/

#profile {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    float: left;
}

.section__text {
    align-self: center;
    text-align: center;
    margin: 5rem 0;
    float: left;
}

.profile__pic {
    border-radius: 2rem;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem
}



#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/*About section*/

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background-color: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color:rgb(17, 162, 162);
    text-align: center;
    
}

.section-container {
    gap: 4rem;
    height: 80%
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}



/*Experience Section*/
#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align:initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 8rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/*Project Section*/

#projects {
    position: relative;
}

.color-container {
    background-color:white ;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;

}

.project-img {
    border-radius: 2rem;
    width: 25rem;
    height: 25rem;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    font-size: small;
    margin-bottom: 1.4rem;
}

/*Contact*/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}



/*Senior website */

/*Footer section*/

footer {
    height: 26vh;
    background-color: rgb(17, 162, 162);
}

footer p {
    text-align: center;
}

/* Dowloand section */
.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.flex-box{
    width: 400px;
    height:220px;
    border: rgb(53,53,53) 0.4rem solid;
    border-color:rgb(17, 162, 162);
    text-align:center;
    margin: 20px;
    border-radius: 20px;;
    justify-content: center;
    background-color: white;
}

/*Buttons*/

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2{
    border: rgb(53,53,53) 0.1rem solid;
    background-color:white;
}
.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
    background-color: black;
    color:aqua;
}

.btn-color-2 {
    background: none;
}

.btn-container {
    gap: 1rem;
}

.senior-btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    font-size: small;
    margin: 1rem;
    background-color: white;
}

.download-title {
    margin-top: 2rem;
}

.download-btn {
    margin-top: 1.5rem;
}

.download-btn-2 {
    height: 4rem;
    font-size: 1rem;
}

/*Team section*/

.title {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.team-title {
    margin-top: 1.5rem;
}

.team__pic {
    border-radius: 2rem;
    width: 25rem;
    height: 30rem;
    margin: 0.5rem;
}

.teacher__pic {
    width: 22rem;
}

.team-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-section {
    border: rgb(53,53,53) 0.2rem solid;
    border-color: rgb(17, 162, 162);
    background-color: white;
    text-align: center;
    margin: 2rem;
    border-radius: 2rem;
}

/*Contact senior porject*/

.contact-info {
    justify-content: center;
    text-align: center;
}

.contact-team {
    color:white;
}

.directory-info{
    margin: 2rem;
}

.contact-name {
    color: black;
    font-size: 2rem;
}

.bullet {
    list-style-type:none;
}

.contact-container {
    display:flex;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color:rgb(17, 162, 162);
    background: white;
    padding: 1rem;
    margin: 2rem auto;
    justify-content: left;
    width: 44rem;
    flex-wrap: wrap;
}


.contact-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/*Icon*/

.icon {
    cursor: pointer;
    height: 2rem;
}

.team-icon {
    margin: 0.5rem;
    margin-top: 1.5rem;
}

.email-name {
    margin: 0.5rem;
    margin-top: 1.5rem;
    justify-content: right;
}

.first-icon {
    margin-left: 2rem;
}

.another-icon {
    margin-left: 8.3rem;
}

.another-icon-2 {
    margin-left: 8rem;
}

.another-icon-3 {
    margin-left: 6.5rem;
}

.another-icon-4 {
    margin-left: 4.8rem;
}

.email-icon {
    height: 2.5rem;
    margin-right: 2rem;
    margin-top:1.3rem;
    
}

/*About */

.about-section {
    display:flex;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color:rgb(17, 162, 162);
    background: white;
    padding: 1rem;
    margin: 4rem auto;
    width: 800px;
}

.about-pic-1 {
    height: 25rem;
    width: 30rem;
    border-radius: 2rem;
    margin: 2rem;
}

.text-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
   margin-top: 3rem;
}

.progress-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.progress-section {
    display:flex;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color:rgb(17, 162, 162);
    background: white;
    padding: 1rem;
    margin: 2rem auto;
    flex-direction: column;
    text-align: center;
}

.progress-pic {
    border-radius: 2rem;
    height: 20rem;
    width: 600px;
}

.title-2 {
    color:white;
    font-size: 2rem;
    text-align: center;
}

.video-1 {
    border-radius: 2rem;
    width:600px;
    height:400px;
    
}